* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1A3D64;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #0C2B4E;
    padding: 10px;
    padding-left: 30px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 60px;
    display: flex;
    gap: 20px
}

#logo {
    height: 60px;
    width: 60px;
}