* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1A3D64;
    display: grid;
    height: 100vh;
    grid-template: 1fr 4fr 4fr / 1fr 2fr 2fr;
}

.header {
    background-color: #091e35;
    padding: 10px;
    padding-left: 30px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
    grid-area: 1 / 1 / 2 / 4;
    box-shadow: 4px 4px 6px black;
}

#logo {
    height: 60px;
    width: 60px;
}

#sideBar {
    background-color: #0C2B4E;
    grid-row: 2 / span 2;
    grid-column: 1 / 2;
    margin-top: 4px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    grid-area: 2 / 2 / 4 / 4;
    padding: 20px;
    margin: 10px;
}

#addProjBtn , #addTodoBtn {
    height: 60px;
    width: 340px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#addProjBtn:hover {
    background-color: #c4c3e0;
}

#divisor {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 20px 0;
    width: 100%;
}

#pDiaBox {
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #091e35;
    box-shadow: 4px 4px 6px black;
}

dialog:modal {
    border: none;
    position: fixed;
    top: 30%;
    left: 40%;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

#form {
    height: 220px;
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color: #091e35;
    color: whitesmoke;
}

#box-title {
    font-size: 28px;
    font-weight: bold;
}

#p-title {
    font-size: 22px;
    font-weight: bold;
}

#title {
    font-size: 20px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 6px;
    background-color: #1A3D64;
    color: whitesmoke;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 25px;
    font-size: 18px;
}

#title:focus {
    outline: none;
}

#btnContainer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

#diaBtn {
    height: 33px;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
}

.project-item {
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
    background-color: #091e35;
    width: 200px;
    margin: 10px;
    cursor: pointer;
}

.todo-item {
    background-color: #091e35;
    color: white;
    font-size: 20px;
    margin: 10px;
}