* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #1A3D64;
    display: grid;
    height: 100vh;
    grid-template: 1fr 4fr 4fr / 1fr 2fr 2fr;
}

.header {
    background-color: #091e35;
    padding: 10px;
    padding-left: 30px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 60px;
    display: flex;
    gap: 20px;
    grid-area: 1 / 1 / 2 / 4;
    box-shadow: 4px 4px 6px black;
}

#logo {
    height: 60px;
    width: 60px;
}

#sideBar {
    background-color: #0C2B4E;
    grid-row: 2 / span 2;
    grid-column: 1 / 2;
    margin-top: 4px;
}

#content {
    grid-area: 2 / 2 / 4 / 4;
}